<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8815492395-2nohbi0bnbjhngocnufap4lsoqe3ggdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8815492395-2nohbi0bnbjhngocnufap4lsoqe3ggdl</string>
	<key>API_KEY</key>
	<string>AIzaSyDdnyDjUPOh1PBmir4lHroaoKnvL-GGXgc</string>
	<key>GCM_SENDER_ID</key>
	<string>8815492395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gappsy.dashboard.www.ios5f6cc69706e43kk</string>
	<key>PROJECT_ID</key>
	<string>dinomania-eba25</string>
	<key>STORAGE_BUCKET</key>
	<string>dinomania-eba25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8815492395:ios:d28695895343a6617d596e</string>
</dict>
</plist>